[run]
source = .
parallel = true
relative_files = true
omit =
    .venv/*
    venv/*
    tests/*
    migrations/*
    config.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

fail_under = 50
show_missing = true
skip_covered = false

[html]
directory = htmlcov
